# ==========================================
# CONFIGURACIÓN BICOM ERP & SERVICIOS ELEODORO
# ==========================================

# 1. Credenciales de la API de BICOM ERP
BICOM_API_URL=https://api.bicom.cl/v1
BICOM_API_KEY=tu_token_secreto_bicom_aqui
BICOM_EMPRESA_RUT=77654321-K
BICOM_SUCURSAL_ID=001

# 2. Configuración de Puerto Backend
PORT=3000

# 3. Credenciales Transbank Webpay Plus
WEBPAY_COMMERCE_CODE=597055555532
WEBPAY_API_KEY=579B532A7440BB073079DED9C2057531488B5AD670071406A76E99A2074830D8
WEBPAY_ENVIRONMENT=integration
